-# == Google Analytics
-# This JS needs to be just before the closing body tag on every page.
-# It is included by default when using the application layout
-# But on one-off pages we need to remember to include it.
:javascript
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

:javascript
  try {
    var pageTracker = _gat._getTracker("UA-479415-3");
    pageTracker._trackPageview();
  } catch(err) {}


